.walk-head{
    border-radius: 0px !important;
}
.signup-container{
    padding: 10px 25px 25px 25px !important;
    width: 100% !important;
}
.modal-padding{
    padding-top: 70px;
}
.reg-form{
    width: 100% !important;
}
.reg-form > button{
    width: 30%;
}
.modal-adjust{
    text-align: center;
}
.modal-adjust >h4 > span{
    margin-right: 10px;
}
.badge-notify{
    margin-top: -20px;
    margin-left: -5px;
    padding: 2px 5px !important;
}